[submodule "espmqtt"]
	path = espmqtt
	url = git@github.com:tuanpmt/espmqtt.git
[submodule "components/espmqtt"]
	path = components/espmqtt
	url = git@github.com:tuanpmt/espmqtt.git
[submodule "components/kuzzle-esp32"]
	path = components/kuzzle-esp32
	url = git@github.com:etrousset/kuzzle-esp32.git
