[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/etrousset/espmqtt.git
[submodule "components/kuzzle-esp32"]
	path = components/kuzzle-esp32
	url = https://github.com/etrousset/kuzzle-esp32.git
[submodule "esp32-components"]
	path = esp32-components
	url = https://github.com/etrousset/esp32-components
